@model ProductsListViewModel

@foreach (var p in Model.Products)
{
    <div class="card card-outline-primary m-1 p-1 product">
        <div class="bg-faded p-1">
            <h4>@p.Name - @p.Category</h4>
            <img src="@p.Img" />
            @foreach (var q in Model.PriceSizes)
            {
                if (q.ProductID == p.ProductID)
                {
                    <h1>@q.Size</h1>
                    <h1>@q.Price</h1>
                }
            }

        </div>
        <div class="card-text p-1">
            @p.Description
            <button onclick="@SelectProduct(p.ProductID)" data-toggle="modal" data-target="#productModal" type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                Add To Cart
            </button>
        </div>
    </div>
    @*<partial name="ProductSummary" model="p" />*@
}
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" id="19">
                @selectedProduct.ProductID
            </div>

            <div class="modal-body">
                @*<form method="post" asp-page="/Cart" id="@selectedProduct.ProductID">
                    <input type="hidden" name="productId" value="@selectedProduct.ProductID" />
                    @foreach (var p in priceSizeProduct)
                    {
                        <h6>@p.Size</h6>
                        <h6>@p.Price</h6>
                        <input type="checkbox" name="priceSizeId" value="@p.ID"/>
                    }
                <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <span class="card-text p-1">

                        <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>
                    </span>
                </form>*@
            </div>

            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div page-model="@Model.PagingInfo" page-action="Index"
     page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

@functions {
    Product selectedProduct;
    IEnumerable<PriceSize> priceSizeProduct;
    IStoreRepository repository;

    Product SelectProduct(long productId)
    {
        selectedProduct = repository.Products.First(x => x.ProductID == productId);
        priceSizeProduct = repository.PriceSizes.Where(x => x.ProductID == productId);
        return selectedProduct;
    }
}
